<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6530234f-78a7-4153-a959-e82d36e990e2/resourcegroups/BMD/providers/Microsoft.Web/sites/SubscriptionService20220708120457</ResourceId>
    <ResourceGroup>BMD</ResourceGroup>
    <ApiResourceId>/subscriptions/6530234f-78a7-4153-a959-e82d36e990e2/resourceGroups/BMD/providers/Microsoft.ApiManagement/service/Subscription-API-BMD/apis/SubscriptionService</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://subscriptionservice20220708120457.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>71f03782-6b30-486b-ac49-c71d2ed2b2b9</ProjectGuid>
    <MSDeployServiceURL>subscriptionservice20220708120457.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SubscriptionService20220708120457</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$SubscriptionService20220708120457</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>